
.contactWrap {
    font-family: 'Arial', sans-serif;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-card {
    flex: 1 1 calc(33.333% - 40px);
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.icon1 svg {
    font-size: 24px;
    color: #ff6a00;
    /* margin-bottom: -15px; */
}

.contact-details h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.contact-details p {
    font-size: 14px;
    color: #ff6a00;
    line-height: 1.6;
    margin: 5px 0;
}

.contact-details a {
    color: #ff6a00;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-details a:hover {
    color: #e65c00;
}

.extra-contact {
    display: flex;

    gap: 20px;
    margin-top: 20px;
}
.extra-contact .contact-item{
    width: 50%;
}

.contact-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Apply animation to the SVG inside arrowIcon when active */


.contact-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-item .icon1 {
    display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--orange-100);
        border-radius: 100%;
        padding: 15px;
}

.contact-item .contact-details h4 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.contact-item .contact-details a {
    font-size: 14px;
    color: #ff6a00;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item .contact-details a:hover {
    color: #e65c00;
    text-decoration: underline;
}

.contactCont h2 {
    color: #ff6c00;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 6rem;
    text-align: center;
}
.quote {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 4rem;
    color: var(--gray-500);
}

.contactCont span {
    color: var(--black);
}

.mapCont {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    margin: auto;
    font-family: 'Arial', sans-serif;
    max-height: 600px;
    margin-bottom: 40px;
    display: flex;
}

.tab-container {
    display: none;
    margin-bottom: 15px;
    overflow-x: auto;
    padding: 5px;
    background-color: transparent;
    border-radius: 10px;
}

.side-button,
.tab-button {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    background:
        linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
        linear-gradient(to right, rgb(255, 128, 0), rgb(240, 108, 0), rgb(255, 115, 0));
    background-size: 100% 3px, 0 3px;
    background-position: 0 0, 0 0;
    background-repeat: no-repeat;
}

.tab-button:hover,
.side-button:hover {
    background-size: 0 100%, 100% 100%;
}

.side-button.active,
.tab-button.active {
    color: #ff6a00;
    background-size: 0 5px, 100% 0px;
}

.tab-button.active {
    outline: 2px solid #ff6a00;
    outline-offset: 2px;
}

.mapBack {
    width: 100%;
}

#map {
    border: solid;
    color: #ff6a00;
    border-radius: 0px 8px 8px 0px;
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.close-button {
    background: #ff4d4d;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.close-button:hover {
    background: #cc0000;
}

.contDetails {
    background-color: #2a2929d1;
}

.contDetails h3,
.contDetails p {
    color: #bfbfbf;
}

.contDetails a {
    color: #ff6c00 !important;
    font-size: 13px;
}

.contDetails a:hover {
    text-decoration: underline;
}

.contDetails p {
    font-size: 20px;
}

.contDetails h3 {
    font-size: 25px;
}

.mapCont svg {
    font-size: 34px;
    margin: auto;
    position: relative;
    top: 10px;
}

.custom-label {
    background: white;
    padding: 2px 5px;
    border-radius: 5px;
    text-wrap: wrap;
    width: 50px;
    position: relative;
    left: 45px;
}

.side-tab {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    padding: 0;
}

.side-tab button {
    width: 250px;
    height: auto !important;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border: solid 1px var(--orange);
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
    text-align: left;
}

.side-tab .side-button.active {
    color: var(--orange);
}

.arrowIcon {
    display: flex;
    transition: all 1s ease;
    align-items: center;
}

.arrowIcon svg {
    font-size: 20px;
    color: var(--orange);
    top: 0 !important;
    animation: growShrink 1s ease-in-out infinite;
}
@keyframes growShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
    }
}
.side-tab-details,
.tab-details {
    font-size: 12px;
    color: #333;
    margin-top: 5px;
}

.side-tab-details p,
.tab-details p {
    margin: 2px 0;
    line-height: 1.4;
}

.tab-container .tab-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dark-mode .contactCont span {
    color: white;
}

.dark-mode .contact-item,
.dark-mode .contact-card {
    background-color: var(--black);
    border: solid 1px;
    box-shadow: none;
}

.dark-mode .contact-item .contact-details h4,
.dark-mode .contact-card .contact-details h4 {
    color: var(--orange);
}

.dark-mode .contact-card .contact-details p {
    color: var(--gray);
}

.dark-mode .contact-item .contact-details a {
    color: var(--gray);
}

.dark-mode .mapCont {
    background-color: var(--black);
    border: solid 1px;
}

.dark-mode .tab-button {
    color: var(--gray);
}

.dark-mode .tab-button.active {
    color: var(--orange);
}

.dark-mode .side-tab button {
    color: white;
}

@media (max-width: 768px) {
    .contact-card {
        flex: 1 1 calc(50% - 20px);
    }

    .contact-item {
        flex: 1 1 100%;
    }

    .side-tab {
        display: none;
    }

    .mapCont {
        display: block;
    }

    .tab-container {
        display: flex;
        width: 100%;
        height: auto;
    }

    .contDetails {
        overflow: auto;
        top: -480px !important;
        width: 80%;
        max-width: none;
   
    }
    .extra-contact{
        flex-wrap: wrap; 
    }
    .contDetails p {
        font-size: 15px;
    }

    .contDetails h3 {
        font-size: 20px;
    }

    .contDetails-info p {
        font-size: 14px;
    }

    #map {
        height: 500px !important;
    }

    .side-tab-details {
        display: none;
    }
}

@media (min-width: 769px) {
    .contDetails-info,
    .tab-details {
        display: none;
    }
}