.product-container {
    text-align: center;
}

.product-container .back-button{
    text-align: start;
    display: flex;
    align-items: center;
}

.product-container .back-button > svg {
    color: var(--orange);
    font-size: 1.75rem;
}

.product-container h3 {
    color: #ff6c00;
    font-weight: 300;
    text-wrap: balance;
}

.product-container h2 {
    font-size: 2rem;
    color: var(--black);
}

.product-container p {
    margin-bottom: 3rem;
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--gray-600);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: start;
}


.product-card {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  padding: 1.5rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: var(--shadow-md);
  background-color: white;
  width: auto !important;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.product-card h3 {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 10px;
    text-align: start;
}

.product-card > .product-description > p {
    text-align: start;
    font-size: 1rem;
    font-weight: 200;
}

.product-card > .card-footer {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    gap: 0.5rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
}

.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 400px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.close-btn:hover {
    color: red;
}

.overlay-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.emailUs {
    cursor: pointer;
    padding: 12px 25px;
    background-color: #ff6c00;
    font-weight: lighter;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    color: white;
}

@media screen and (max-width: 768px) {
  .product-card {

      gap: 10px;
      flex-direction: row !important;
      font-size: 15px;
      align-items: center;
  }
  .product-card img {
      width: 160px !important;
      height: 160px !important;
  }
  .overlay-content {
      width: 80%;
      overflow: auto;
      height: 500px;
  }
  .overlay-content img {
      width: 200px;
      height: 100%;
  }
}
@media screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
}
}
@media screen and (max-width: 575px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
}
}

.see-details-btn {
    padding: 10px 15px;
    background: linear-gradient(to left, #ff9c50, #ff6c00);
    color: white;
    text-align: center;
    border: 2px solid #dd5e04;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-size: 200% auto;
    background-position: left center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.see-details-btn:hover {
    background-color: #e65c00;
}
.dark-mode .product-card {
    background-color: var(--black);
    border: solid 1px;
}
.inquiry-btn {
    padding: 10px 20px;
    background: linear-gradient(to left, #ff9c50, #ff6c00);
    color: white;
    border: 2px solid #dd5e04;
    font-size: 16px !important;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-size: 200% auto;
    background-position: left center;
}

.inquiry-btn:hover {
    background-position: right center;
    transition: all 0.4s ease-in;
}
