  .HardwareContainer{
      /* padding: 2rem;
      max-width: 1200px; */
      margin: 0 auto;
      
  }
  .HardwareContainer h2 {
    font-size: 2rem;
    color: #ff6c00;
    text-shadow: -1px 1px #080707;
    margin-bottom: 4rem;
    margin-top: 4rem;
    font-family: "Raleway", sans-serif;
    }
  body {
      background-color: #f1f8ff;
    }
    .HardwareContainer .HardWrapper .hardware img{
      height: 200px;
      width: 200px;
      margin: 1.5rem;
      margin-top: -10px;
    }
    .HardwareContainer .HardWrapper .hardware{
      background-color: white;
      padding: 1.5rem;
      border-radius: 12px;
      border: 2px solid orange; 
      height: 260px;
      display: flex;
      width: 300px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .hardware h4 {
      font-size: 1.25rem;
      color: #080707;
      font-family: 'Raleway',sans-serif;
      padding-top: 0;
      margin-top: 50px;
     
  
    }
    .HardwareContainer .HardWrapper{
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-between; 
      align-items: center; 
      gap: 2rem; 
      width: 80%;
      max-width: 1240px;
      margin: 30px auto;
     
    }
    @media screen and (max-width: 768px) {
      .hardware{
        width: 100% !important;
        gap: 10px;
        display: flex ;
        flex-direction: row-reverse !important;
      }
      .hardware img{
        width: 180px !important;
        height: 180px !important;
      }
    }
    .HardwareContainer .HardWrapper .hardware h4 a {
      text-decoration: none;
    }