/* ProductPage.css */
.tab-buttons {
  display: flex;
      /* gap: 100px; */
      max-width: 1300px;
      margin-bottom: 20px;
      flex-direction: row;
      position: relative;
      bottom: -30px;
      /* left: 90px; */
      justify-content: flex-start;
  }
  
  .tab-buttons button {
    padding: 10px 20px;
    border: none;
    background: var(--gray);
    border: solid 1px var(--orange);
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    height: 90px;
    width: 20%;
  }
  
  .tab-buttons button.active {
    background: linear-gradient(to left, #ff9c50, #ff6c00);
    color: white;
  }
  .inquiry-btn {
    padding: 10px 20px;
    background: linear-gradient(to left, #ff9c50, #ff6c00);
    color: white;
    border: 2px solid #dd5e04;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-size: 200% auto; 
    background-position: left center;
  }
  
  .inquiry-btn:hover {
    background-position: right center;
    transition: all 0.4s ease-in;
  }
  
  .tab-content {
    padding: 20px;
    border: 1px solid #dd5e04;
    border-radius: 5px;
    background: #f1f8ff;
    position: relative;
    /* z-index: 1; */
  }
  .product-page h2{
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: var(--orange);
    text-transform: uppercase;
    margin: 40px;
    text-align: center;
    /* margin-bottom: 0; */
  }
  .product-page span{
    color: var(--black);
  }
  .product-page{
    max-width: 1300px;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    .tab-buttons {
      flex-direction: column;
      align-items: center;
        padding: 20px;
        gap: 10px;
    }
    .tab-buttons button{
      width: 100%;
    }
  }
  