.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-page .product-page-header {
    margin-bottom: 2rem;
}

.product-page .product-page-header h3 {
    font-size: 3rem;
    color: var(--orange);
    text-transform: capitalize;
    text-align: center;
    margin: 3rem 0 1rem 0;
}

.product-page .product-page-header p {
    text-align: center;
    font-size: 1.25rem;
    color: var(--gray-500);
    font-weight: 300;
}

.product-page .product-page-header span {
    color: var(--black);
}

.tab-buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-300);
    border-radius: .5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.tab-buttons button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-700);
    gap: .5rem;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    margin: .75rem;
    border: none;
    background-color: var(--gray-300);
    cursor: pointer;
    border-radius: 5px;
}


.tab-buttons button.active {
    color: var(--orange-500);
    background-color: white;
}
.inquiry-btn {
    padding: 10px 20px;
    background: linear-gradient(to left, #ff9c50, #ff6c00);
    color: white;
    border: 2px solid #dd5e04;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-size: 200% auto;
    background-position: left center;
}

.inquiry-btn:hover {
    background-position: right center;
    transition: all 0.4s ease-in;
}

.tab-content {
    width: 100%;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .tab-buttons {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 10px;
    }
    .tab-buttons button {
        width: 100%;
    }
}

.dark-mode .tab-content {
    background-color: var(--black);
}

.dark-mode .tab-buttons button {
  background-color: var(--black);
  color: white;
}
