.ClientCont {
    margin: 2rem 0;
}

.ClientCont .client-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.ClientCont .client-header h2 {
    font-size: 3rem;
    margin: 0;
}

.ClientCont .client-header span {
    color: var(--orange-600);
}

.ClientCont .client-header p {
    text-align: center;
    max-width: 700px;
    color: var(--gray-600);
    font-size: 1.25rem;
    font-weight: 300;
}

.ClientCont h3 {
    font-size: 1.5rem;
    color: #ff6c00;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.clientWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
    padding: 2rem 0;
    justify-content: space-between;
    border-radius: 8px;
    position: relative;
}

.clientItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-lg);
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.clientItem {
    color: inherit;
    text-decoration: none;
}

.clientItem > img {
    width: 5rem;
    height: 5rem;
}

.clientItem h4 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

.clientItem:hover img {
    transform: scale(1.1); /* Slight zoom effect */
    transition: 0.3s ease-in;
}

.clientItem:hover {
    border-radius: 10px;
    transition: 500ms ease-out;
}

.clientItem:hover h4 {
    bottom: 5px; /* Move h4 up */
}
.retryBut {
    cursor: pointer;
    padding: 10px 20px;
    width: 10%;
    background-color: var(--orange);
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    color: white;
}
.errorCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-buttons {
    background-color: var(--gray-300);
    border-radius: 10px;
    padding: 10px;
}
.buttonCat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    border-radius: 0.5rem;
}

.category-buttons button {
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    color: var(--black);
    cursor: pointer;
    font-family: Inter;
    font-weight: 400;

}

.category-buttons button.active {
    background-color: #ff6c00;
    color: #080707;
    border: transparent;
    outline: none;
}

.category-buttons button:hover {
    border: 2px solid var(--orange-600);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination .left-arrow,
.pagination .right-arrow {
    padding: 0;
}
.pagination button .arrow-icon {
    font-size: 2rem;
}

.pagination button {
    text-align: center;
    padding: 8px 12px;
    border: none;
    background-color: #ff6c00;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button.active {
    background-color: #353635;
}

.pagination button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.dark-mode .category-buttons .active {
    background-color: var(--orange);
}
.dark-mode .clientItem {
    background-color: var(--black);
    color: white;
    border: solid 1px;
}
.dark-mode .clientItem:hover {
    color: var(--orange);
    background-color: rgba(223, 217, 217, 0.524);
}
/* Hide buttons by default */
.selectCat {
    display: none;
}

.selectCat label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.category-select {
    padding: 10px 15px;
    font-size: 14px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    width: 200px;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23333' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    transition: border-color 0.3s ease;
}

.category-select:hover {
    border-color: #999;
}

.category-select:focus {
    outline: none;
    border-color: var(--orange);
    box-shadow: 0 0 5px rgba(255, 157, 0, 0.5);
}

option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

option:hover {
    background-color: #f5f5f5;
}
@media screen and (max-width: 768px) {
    .selectCat {
        display: block;
    }
    .selectCat select {
        width: 100%;
    }
    .buttonCat {
        display: none;
    }
}
