.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6c00;
    color: white;
    padding: 8px 20px;
    font-size: 14px;
 
}

.contact-info {
    /* background-color: #ff6c00; */
    width: 100%;
    display: flex;
    gap: 5px;
    margin: 0 auto;
    /* margin-left: 125px; */
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    max-width: 1300px;
    cursor: pointer;
}

.contact-info a {
    text-decoration: none;
    color: white;
}
.contact-info a:hover{
    text-decoration: underline;
    /* text-indent: ; */
}

.social-icons {
    margin-right: 125px;
}

.social-icons a {
    color: white;
    margin-left: 10px;
    font-size: 18px;
    transition: color 0.3s ease;
    
}

.social-icons a:hover {
    color: #ff6c00; /* Highlight color on hover */
}

.top-bar .icon {
    margin-right: 7px;
    margin-top: 2px;
    color: var(--black);
    font-weight: bold;

}
@media (max-width: 800px){
    .contact-info{
        flex-direction: column;
    }
}
.dark-mode .top-bar{
    background-color: var(--black);
}
.dark-mode .top-bar svg{
    color: var(--orange);
}