
.hero-wrapper {
  color: var(--black);
  /* margin: 2rem 5rem; */
  padding: 10px;
}
.iAccsCont{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.hero-wrapper > h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 3rem;
  margin-left: 25px;
}

.hero-wrapper > p{
  font-size: 1.5rem;
  font-weight: 500;
  opacity: .7;  
  margin-left: 25px;
}

.hero-wrapper > h2, .feature > h2 {
  color: var(--black);
  
}


.m-5 {
  margin: 0 5rem;
}

.p-1 {
  padding: 1rem 0;
}

.feature > h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--orange) !important;
}
.feature span{
  color: var(--black);
}

.feature > p {
  font-size: 2rem;
  opacity: .5;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline var(--orange);
  text-underline-offset: .3rem;
  margin: 4rem 0 2rem 0;
}

.divWrap {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.head {
  background: var(--orange);
  opacity: .9;
  padding: 2rem;
  text-align: center;;
}

.Soft-item {
  background-color: white;
  border-radius: 5px;
  border: 2px solid var(--orange);
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.Soft-item:hover {
  transform: translateY(-5px);
}

.Soft-item h4 {
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 900;
  margin: 0;
}

.Soft-item ul {
  list-style-type: none;
  padding-left: 1.25rem;
  font-size: 14px;
  line-height: 1.5;
  padding: 1rem;
}

.icon {
  /* font-size: 1.5rem; */
  margin: 0 .5rem;
}

.icon-head {  
  
  font-size: 2.5rem;
  color: var(--orange);
}

@media only screen and (max-width: 768px){

  .wrapper > .list-1{
    display: block;
  }

  .divWrap {
    display: block;
    margin-bottom: 1rem;
  }

  .Soft-item {
    /* width: 100%; */
    margin: 2rem 0;
  }


}

@media only screen and (min-width: 768px){
  .divWrap {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
  }
}

@media only screen and (min-width: 992px) {
  .divWrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media only screen and (max-width: 600px) {
  .wrapper > .list-1{
    display: grid;
    /* grid-template-columns: repeat(1fr, 2); */
  }
  .feature {
    display:block;
  }

  .Soft-item {
    margin: 2rem 0;
  }
  .IacWrap{
    padding: 0;
  }
  
}
.dark-mode .hero-wrapper h2{
  color: var(--gray);
}
.dark-mode .hero-wrapper p{
  color: var(--orange);
}
.dark-mode .feature p{
  color: var(--orange);
} 
.dark-mode .Soft-item{
  background-color: var(--black);
}
.dark-mode .feature span{
  color: var(--gray);
}