.SoftwareContainer li,
.SoftwareContainer p {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0;
    color: var(--gray-500);
}

/* Headings */
.SoftwareContainer h2 {
    font-size: 2rem;
    color: var(--orange);
    text-shadow: -1px 1px #080707;
    margin-bottom: 1.5rem;
}

.Iac-wrap ul .icon {
    font-size: 1.5rem;
}

/* Project Section */
.pastProj {
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pastProj h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--orange);
}

/* Project Details */
.projectDetail {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: var(--shadow-md);
    overflow: visible;
}

/* Ensure consistent layout for content */
.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Button Wrapper */
.button-wrapper {
    position: relative;
}

/* Expanded Content */
.Iac-wrap {
    width: 100%;
    
    border-radius: 0 0 12px 12px;
  
}

/* Software Container */
.SoftwareContainer {
    margin: 0 auto;
}

/* Wrapper */
.SoftWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    box-shadow: var(--shadow-md);
}

/* Iac Section */
.IacWrap {
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.IacWrap p {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 1rem 0;
    padding: 0;
    color: var(--gray-500);
}

.iaccs-title {
    font-size: 2rem;
    font-weight: 300;
    color: var(--black);
    text-transform: uppercase;
    margin: 0 0 1rem;
    cursor: pointer;
}

.iaccs-title:hover {
    color: var(--orange);
}

.IacWrap div > h4 {
    color: var(--black);
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0;
}

.IacWrap-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(to left, #ff9c50, #ff6c00);
    color: var(--white);
    border: 2px solid #dd5e04;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease;
    background-size: 200% auto;
    background-position: left center;
}

.IacWrap-btn:hover {
    background-position: right center;
    transition: all 0.4s ease-in;
}

.IacWrap-btn:hover > .icon {
    transform: scale(1.2);
}

.IacWrap-btn .icon {
    color: whitesmoke;
    font-size: 1.5rem;
    transition: 0.3s ease;
}

/* Features Section */
.featureWrap {
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
}

/* Soft Items */
.iacc {
    height: 100px;
    width: 100px;
}

.projectDetail::-webkit-scrollbar {
    width: 8px;
}

.projectDetail::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.projectDetail::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.projectDetail::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.projectDetail {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.product-title {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: var(--orange);
    text-transform: capitalize;
    margin-top: 4rem;
    margin-bottom: 0;
}

.product-title span {
    color: var(--black);
}

.SoftwareContainer svg {
    color: var(--orange);
    font-size: 30px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .divWrap {
        display: block;
        width: 100%;
    }

    .Soft-item {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .IacWrap {
        justify-content: center;
    }

    .iacc {
        height: 130px !important;
        width: 130px !important;
        margin: 0 auto;
    }

    .pastProj {
        flex-direction: column;
    }

    .column {
        flex: 1 1 100%;
    }

    .projectDetail {
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .SoftWrap img {
        display: none;
    }
}

/* Dark Mode */
.dark-mode .SoftWrap {
    background-color: var(--black);
    border: solid 1px;
}

.dark-mode .iaccs-title {
    color: var(--orange) !important;
}

.dark-mode .iaccs-title:hover {
    color: var(--gray) !important;
}

.dark-mode .SoftWrap p {
    color: var(--white);
}

.dark-mode .product-title span {
    color: var(--gray);
}

.dark-mode .projectDetail {
    background-color: var(--black);
    border: solid 1px;
}

.dark-mode .projectDetail p {
    color: var(--white);
}

.dark-mode .Iac-wrap {
    background-color: var(--black);
}

.SoftwareContainer, .SoftWrap, .projectDetail, .iaccs-title, .product-title span, p, .Iac-wrap {
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}


/* Feature Header */
.feature-header {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 0.5rem; 
}

/* Ensure the icon size matches the heading */
.feature-header .icon {
    font-size: 1.5rem;
    color: var(--orange);
}

/* Adjust the heading margin to align with the icon */
.feature-header h4 {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: var(--orange);
    
}