.product-details-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border: 2px solid orange; 
    border-radius: 8px;
    text-align: center;
}

.product-details-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ff6600;
}

.product-details-image {
    width: 100%;
    max-width: 500px; 
    height: 400px; 
    object-fit: contain; 
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-details-container p {
    font-size: 18px;
    color: #555;
    line-height: 1.5;
    font-family: 'Open Sans', 'sans-serif' !important;
}


.emailUs {
    font-family: 'Open Sans', 'sans-serif' !important;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    background: linear-gradient(to bottom, #ff9c50, #ff6c00); /* Orange gradient */
    animation-delay: 0.8s;
    border: 2px solid #ff6600;
}

.emailUs:hover {
    background-color: #cc5200; 
    border-color: #a84400;
}

/* Back to Products Button */
.back-btn {
    display: flex;
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #ff9c50, #ff6c00); /* Orange gradient */
    color: white;
    text-decoration: none;
    border: 2px solid #ff6600; 
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Open Sans', 'sans-serif' !important;
}

.back-btn:hover {
    background-color: #ff6600;
    border-color: #ff6600;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .product-details-container {
        width: 90%;
    }

    .product-details-image {
        max-width: 100%;
        height: auto;
    }
}
