:root {
    --black: #353635;
    --orange: #ff6c00;
    --gray: #d3d3d3; /* New gray color for hover */
}

body{
    background-color: #f1f8ff;
    
}
.home-container .photo-wrapper{
    height: 80vh;
    background: linear-gradient(0deg, rgb(13 6 1 / 82%), rgb(49 46 46 / 13%)), url(src/assets/coreDev-Team-Edited-2.png) top center no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-container .photo-wrapper span{
    position: absolute;
    top: 30%;
    left: 150px;
    transform: translateY(-50%);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 3px black;
}
.motion-text{
    z-index: 0 !important;
}
.leanBut{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    background-color: #3536355f;
    border: 2px solid #dd5e04;
}
.leanBut:hover{
    background-color: #dd5e04;
    color: #353635;
    font-weight: 700;
}
/* .home-container .photo-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
.home-container .services-wrapper{
    font-family: "Open-Sans", sans-serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto 40px;
    grid-area: 10px;
    
}

.home-container .services-wrapper .service-header{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #dd5e04;
}

.home-container .services-wrapper .service-list{
    display: flex;
    justify-content: center; /* Aligns with the left side */
    align-items: center;
    gap: 50px;
    margin-top: 40px;
    font-family: 'Open Sans', 'sans-serif' ;
}
.service-item-header{
    font-family: "Raleway", sans-serif !important;
    color: #dd5e04;
    font-weight: bold;      
}

.home-container .services-wrapper .service-list .service-item{
    text-align: center;
    border: 1px solid #dd5e04;
    padding: 20px 30px;
    box-shadow: 0px 0px 3px rgba(229, 139, 3, 0.521);
    min-height: 350px;
    max-width: 300px;
    border-radius: 5px;
    /* position: relative;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-container .services-wrapper .service-list .service-item .top{
    flex: 1;
}

.home-container .services-wrapper .service-list .service-item .bottom{
    flex: 0 0 70px;
}

.home-container .services-wrapper .service-list .service-item .icon{
    color: var(--orange);
    width: 30px;
    height: 30px;
}

.home-container .services-wrapper .service-list .service-item .description{
    font-family: "Open-Sans", sans-serif;
    font-size: 15px;
    padding: 10px;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    color: #777777;
}

.home-container .services-wrapper .service-list .service-item button {
    cursor: pointer;
    width: 280px; /* Fixed width */
    height: 50px; /* Fixed height */
    border-radius: 5px;
    border: 2px solid #ff6c00;
    color: white;
    background: linear-gradient(to bottom, #ff9c50, #ff6c00);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}




.home-container .services-wrapper .service-list .service-item button:hover {
    background: linear-gradient(to bottom, #ff6c00, #cc5200);
    border-color: #cc5200;
    transform: scale(1.05);
}
   
.sido{
    width: 100%;
    background-color: var(--black);
} 

.home-container .services-wrapper .service-list .service-item button svg {
    font-size: 18px;
}

.home-container .join-us-wrapper{
    /* height: 80vh; */
    /* width: 100%; */
    max-width: 1300px;
    margin: 0 auto;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home-container .join-us-wrapper .right{
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    /* margin-left: 200px; */
}

.home-container .join-us-wrapper .left{
    flex: 1;
    font-family: "Open-Sans", sans-serif;
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: lighter;
}

.home-container .join-us-wrapper .left .header{
    font-family: "Raleway", sans-serif !important;
    font-weight: bolder;
    font-size: 2.2rem;
    font-weight: bold;
}

.home-container .join-us-wrapper .left .join-btn{
    padding: 10px 15px;
    background: linear-gradient(to bottom, #ff9c50, #ff6c00); /* Orange gradient */
    border: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.home-container .join-us-wrapper .right img{
    height: 330px;
    width: 330px;
}

.home-container .reach-us-wrapper{
    /* width: 100%; */
    max-width: 1300px;
    margin: 0 auto;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    /* height: 80vh; */
    font-family: "Open-Sans", sans-serif;
    gap: 40px;
}

.home-container .reach-us-wrapper .left{
    /* color: black !important; */
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: lighter;
    flex: 1
}

.home-container .reach-us-wrapper .left .header{
    font-family: "Raleway", sans-serif !important;
    color: var(--orange);
    font-size: 4.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Open-Sans", sans-serif;
    
}

.home-container .reach-us-wrapper .left .description{
    font-weight: 200;
    font-size: 1.2rem;
    color: #777777;
}

.home-container .reach-us-wrapper .left .contact {
    display: flex;
    gap: 15px;
    justify-content: start;
}
.home-container .reach-us-wrapper .left .contact a{

    color: blue;
    text-decoration: underline;
    font-weight: 200;
    font-family: "Open-Sans", sans-serif;
  
}
.home-container .reach-us-wrapper .left .contact .icon{
    margin-right: 5px;
}

.home-container .reach-us-wrapper .right{
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.home-container .reach-us-wrapper .right form{
    display: flex;
    gap: 4px;
    flex-direction: column;
    font-family: "Open-Sans", sans-serif;
    width: 80%;
   
}
.home-container .reach-us-wrapper .right form input, textarea{
    padding: 15px 10px;
    border-radius: 5px;
    border: 2px solid rgb(162, 161, 161);
    font-family: "Open-Sans", sans-serif;
    
   
}
.home-container .reach-us-wrapper .right form textarea{
    resize: vertical;
    min-height: 100px;
}

.home-container .reach-us-wrapper .right form button{
    background-color: var(--orange);
    padding: 10px;
    border: none;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 200;
    border-radius: 8px;
}

.home-container .reach-us-wrapper .right form button:hover{
    background-color: #dd5e04;
}

.home-container .reach-us-wrapper .right form input::placeholder, textarea::placeholder{
    font-weight: 200;
}

.home-container .reach-us-wrapper .right form .fullname{
    
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.home-container .reach-us-wrapper .right form .fullname input{
    width: 100%;

}
@media (max-width: 1170px){
  .home-container .photo-wrapper span {
        font-size: 1.9rem; 
        left: 10px;
    }

    .home-container .services-wrapper .service-list {
        /* flex-direction: column; */
        flex-wrap: wrap;justify-content: center;
    }
    
    .home-container .services-wrapper .service-list .service-item {
        /* flex-direction: column; */
        /* width: 100%; */
    }
    .home-container .services-wrapper .service-list .service-item button {
        width: auto;
        text-wrap: wrap;
        margin:  0 auto;
    }


    .home-container .join-us-wrapper {
        flex-direction: column; 
        height: auto;
        margin: 0 auto;
    }

    .home-container .join-us-wrapper .left, 
    .home-container .join-us-wrapper .right {
        width: 100%; 
        margin-bottom: 15px;
    }

    .home-container .join-us-wrapper .header{
        text-align: center;
        line-height: 50px;
    }

    .home-container .join-us-wrapper .left button{
        display: block;
        margin: 0 auto;
    }

    .home-container .join-us-wrapper .left p{
        text-align: justify;
        padding: 10px;
        text-indent: 20px;
    }

    .home-container .join-us-wrapper .right img{
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 800px){
    .home-container .photo-wrapper span {
        font-size: 1.9rem; 
        left: 10px;
    }

    .home-container .services-wrapper .service-list {
        flex-direction: column;
    }

    .home-container .join-us-wrapper {
        flex-direction: column; 
        height: auto;
    }

    .home-container .join-us-wrapper .left, 
    .home-container .join-us-wrapper .right {
        width: 100%; 
        margin-bottom: 15px;
    }

    .home-container .join-us-wrapper .header{
        text-align: center;
        line-height: 50px;
    }

    .home-container .join-us-wrapper .left button{
        display: block;
        margin: 0 auto;
    }

    .home-container .join-us-wrapper .left p{
        text-align: justify;
        padding: 10px;
        text-indent: 20px;
    }

    .home-container .join-us-wrapper .right img{
        display: block;
        margin: 0 auto;
    }

    .Textcontent h1 {
        padding: 0 !important;
        font-size: 40px!important;
    }
}
.ClientLogo{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #dd5e04;
    margin-top: 40px;
}
.ClientLogo span, .services-wrapper span{
color: #353635;
}
.Textcontent{
    text-align:center;
    color:#ffffff;
    font-family: "Raleway", sans-serif;
    letter-spacing: 15px;
    /* padding-top:200px; */
}
.Textcontent h1 {
    color: hsl(0, 0%, 28%);
    font-size: 50px;
    font-weight: bold!important;
    font-family: monospace;
    letter-spacing: 7px!important;
    cursor: pointer;
    text-transform: uppercase;
    padding: 64px;
    background: linear-gradient(to right, hsl(24, 100%, 50%) 0, hsl(0, 0%, 100%) 10%, hsl(24, 100%, 50%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 795px;
    }
}   
.motoCont{
    margin-top: 40px;
    background: linear-gradient(rgb(68 70 72 / 0%), rgb(0, 0, 0)), url(../../assets/teamImg.png) fixed center center;
    background-attachment: fixed;
    background-size: cover;
    /* height: 30vh; */
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* @media (max-width: 700px){
    .home-container .photo-wrapper span {
        font-size: 1.5rem; 
        left: 10px;
    }
}
 */

 #tsparticles {
    position: fixed;
    width: 80%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin-top: 40px;
  }

  .photo-wrapper {
    position: relative;  
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 80vh;
    width: 100%;
}

  .motion-text {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 50%; /* Adjust based on logo placement */
    top: 35%; /* Adjust vertical positioning */
    z-index: 10;
    text-align: left;
}
  /* YourComponent.css */
.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .picture img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  
  .detail {
    text-align: center;
    margin-top: 10px;
  }
  
  .detail h3 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .detail span {
    font-size: 1rem;
    color: #666;
  }